[submodule "vendor/concfg"]
	path = vendor/concfg
	url = https://github.com/lukesampson/concfg.git
[submodule "vendor/Meslo-Font"]
	path = vendor/Meslo-Font
	url = https://github.com/andreberg/Meslo-Font.git
